body {
    background: rgba(173, 216, 230, 0.5);
    position: relative;
}

header {
    background:rgba(1, 13, 80, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: white;
}
.sign-up h3 {
    margin-left: 30px;
}
.sign-up button {
    margin-right: 30px;
    height: 35px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}
.brag {
    width: 600px;
    margin-left: 150px;
    margin-top: 50px;
}
.form {
    background-color: bisque;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(34, 103, 207, 0.8);
    border-radius: 3px;
    position: absolute;
    left: 150px;
    top: 250px;
    padding: 10px;
}